{% load static %}
<!-- ====  CLients Logos ==== -->
<br />
<br />
<br />
    <section class="section brands">
      <div class="brand-layout container">
        <div class="swiper-container slider-3">
          <div class="swiper-wrapper" id="dark-logos">
            
            {% for clientlogo in clientlogo %}
                <div class="swiper-slide">
                  <img src="{{clientlogo.img.url}}" alt="" class="blog-img">

                </div>
            {% endfor %}
          </div>
          
        </div>
      </div>
    </section>

    <section class="section brands">
      <div class="brand-layout container">
        <div class="swiper-container slider-3">
          <div class="swiper-wrapper" id="light-logos">
            
                {% for clientlightlogo in clientlightlogo %}
                <div class="swiper-slide">
                  <img src="{{clientlightlogo.img.url}}" alt="" class="blog-img">
                </div>
          {% endfor %}
          </div>
          
        </div>
      </div>
    </section>
 
    <br />
    <br />


<!-- ====  CLients Logos ==== -->


<!-- ====  Social icon ==== -->

    <div class="socialicon-footer">
      <a href=""><ion-icon name="logo-facebook"></ion-icon> Facebook <p></p></a>
      <a href=""><ion-icon name="logo-instagram"></ion-icon>instagram <p></p></a>
      <a href=""><ion-icon name="logo-twitter"></ion-icon>twitter <p></p></a>
    </div>

<!-- ====  Social icon ==== -->

<!-- ==== footer  ==== -->
{% for footer in footer %}
      <footer>
        <div class="footer-sec_1">
          <h1>{{footer.title1}}</h1>
          <br />
        <p>{{footer.description}}</p> 
        
        </div>
        <div class="footer-sec_1">
          <h2 class="text-center">{{footer.title2}}</h2>
          <div class="footer-items">
            <ul>
              
                <li><a href="/">{{footer.item1}}</a></li>
                <li><a href="}">{{footer.item2}}</a></li>
                <li><a href="#">{{footer.item3}}</a></li>
                <li><a href="{% url 'blog' %}">{{footer.item4}}</a></li>
                <li><a href="#" style="cursor: pointer;">{{footer.item5}}</a></li>
                <li><a href="{% url 'blog' %}">{{footer.item6}}</a></li>
          </ul>
          </div>
          
        </div>
        <div class="footer-sec_1">
          <h2>{{footer.title3}}</h2>
          <br />
          <p>Phone: &nbsp; &nbsp; &nbsp; {{footer.phone}}</p>
          <p>Email: &nbsp; &nbsp; &nbsp;{{footer.email}}</p>
          <p>{{footer.copyright}}</p>
        </div>
      </footer>
      <br />
    {% endfor %}
<!-- ==== footer  ==== -->


